@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Telstar Logistics Shipping Portal</h1>
@*    <p>Go to</p>
    <button>Sign in</button>*@
</div>
